{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
  {{ with .Site.Params.homepage_meta_tags.og }}
    {{ range $key, $value := . }}
      <meta property="og:{{ $key }}" content="{{ $value }}" />
    {{ end }}
  {{ end }}
  {{ with .Site.Params.homepage_meta_tags.twitter }}
    {{ range $key, $value := . }}
      <meta name="twitter:{{ $key }}" content="{{ $value }}" />
    {{ end }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <div class="strip">
    <div class="container pt-1">
      <div class="row">
        <div class="col-12">
          <h1 class="title">{{ .Title | default .Site.Title }}</h1>
          <div class="content">
            {{ if .Content }}
            {{ .Content }}
            {{ else }}
            <p>{{ .Site.Params.homepage_intro }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ if .Params.form }}
    {{ with index .Site.Data .Params.form }}
    <div class="strip">
      <div class="container pt-1">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            {{ partial "form.html" . }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}

{{ end }}

{{ define "footer_js" }}
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ (resources.Get "js/custom-form.js").RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ (resources.Get "js/custom-form.js" | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
